DATABASE_URL="postgres://USER:PASSWORD@YOUR-NEON-HOST-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgres://USER:PASSWORD@YOUR-NEON-HOST.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
